/* Etiquetas párrafo que estén cerca de un h2*/
h2 + p {
  color: red;
}
.line {
  border-top: 2px solid #000;
}
/* Cambia a los hermanos generales */
h2 ~ h4 {
  color: blue;
}
/* Hijo directo */
div > p {
  color: green;
}
/* Descendiente, todas las etiquetas dentro de... */
section p {
  color: aqua;
}
